Repository dannyh79/brp-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "*.{cjs,mjs,ts}": "eslint --fix",
  "*.{cjs,json,md,mjs,ts}": "prettier -w"
}

Version REST APIs
  test/worker/rest.spec.ts
  worker/rest/index.ts
  worker/rest/v1/endpoints/getPlan.ts
  worker/rest/v1/endpoints/index.ts
Due: eslint --fix, prettier -w

Use absolute path in v1 getPlan endpoint
  worker/rest/v1/endpoints/getPlan.ts
Due: eslint --fix, prettier -w

Move Swagger UI endpoint declaration next to OpenAPI doc's
  worker/rest/index.ts
Due: eslint --fix, prettier -w

Version REST APIs (#6)
  test/worker/rest.spec.ts
  worker/rest/index.ts
  worker/rest/v1/endpoints/getPlan.ts
  worker/rest/v1/endpoints/index.ts
Due: eslint --fix, prettier -w

Use namespaced package node:path in vitest config
  vitest.config.mts
Due: none

Set up D1 database
  vitest.config.mts
  worker-configuration.d.ts
  wrangler.toml
Due: eslint --fix, prettier -w

Use D1PlanRepository in REST endpoints
  test/worker/rest.spec.ts
  worker/rest/middlewares/index.ts
Due: eslint --fix, prettier -w

Add plans table to D1
  migrations/0001_add_plans.sql
  test/env.d.ts
  test/setups/applyMigrations.ts
  vitest.config.mts
Due: eslint --fix, prettier -w

Add D1Databse binding to rest endpoints
  worker/rest/types.ts
Due: eslint --fix, prettier -w

Add D1PlanRepository
  src/repositories/d1Plan.ts
  test/repositories/d1PlanRepository.spec.ts
Due: eslint --fix, prettier -w

Extract D1 test helper function insertPlanRecord()
  test/helpers/d1.ts
  test/repositories/d1PlanRepository.spec.ts
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Add db:migrate NPM command for D1 database
  README.md
  package.json
Due: prettier -w

Add README section "Interacting with D1 Database"
  README.md
Due: prettier -w

Add db:migrate:create NPM command
  README.md
  package.json
Due: prettier -w

Use D1PlanRepository in scheduled worker
  worker/scheduled/index.ts
Due: eslint --fix, prettier -w

Add D1 seed file and "db:seed" NPM command
  README.md
  package.json
  worker/d1/seed.sql
Due: prettier -w

Correct typing for ScheduledWoker
  worker/scheduled/types.ts
Due: eslint --fix, prettier -w

Fix incorrect exported scheduled worker impl
  worker/index.ts
  worker/scheduled/index.ts
Due: eslint --fix, prettier -w

Guard exported workers impl with type ExportedHandler
  worker/index.ts
Due: eslint --fix, prettier -w

Use D1 database for BRP data (#9)
  README.md
  migrations/0001_add_plans.sql
  package.json
  src/repositories/d1Plan.ts
  test/env.d.ts
  test/helpers/d1.ts
  test/repositories/d1PlanRepository.spec.ts
  test/setups/applyMigrations.ts
  test/worker/rest.spec.ts
  vitest.config.mts
  worker-configuration.d.ts
  worker/d1/seed.sql
  worker/index.ts
  worker/rest/middlewares/index.ts
  worker/rest/types.ts
  worker/scheduled/index.ts
  worker/scheduled/types.ts
  wrangler.toml
Due: eslint --fix, prettier -w

Update Getting Started section
  README.md
Due: prettier -w

Update .dev.vars comments
  README.md
Due: prettier -w

Add "db:write" NPM command to write GoogleSheets data into D1 database
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  scripts/writeToD1FromGoogleSheets.mts
Due: prettier -w

Add "db:write" NPM command to write GoogleSheets data into D1 database (#10)
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  scripts/writeToD1FromGoogleSheets.mts
Due: prettier -w

Bump deps to safe versions
  package.json
  pnpm-lock.yaml
Due: prettier -w

Bump outdated deps
  package.json
  pnpm-lock.yaml
Due: prettier -w

Add TODO tests to script writeToD1FromGoogleSheets
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Format Chinese punctuation marks in transforming GoogleSheets data
  scripts/writeToD1FromGoogleSheets.mts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Trim extra spaces / line-breaks in transformed row data
  scripts/writeToD1FromGoogleSheets.mts
Due: none

Comment stub GoogleSheets raw data by TODO tests
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Format non-Chinese punctuation marks in transforming GoogleSheets data (#14)
  scripts/writeToD1FromGoogleSheets.mts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Update JSON data handling in utils.ts
  src/services/notifiers/line/utils.ts
Due: eslint --fix, prettier -w

Fix typo in entity Plan's default prayer field
  src/readingPlans/entities/plan.ts
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/inMemoryPlanRepository.spec.ts
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Use plan data in new LINE message layout
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Simplify toBubbleMessage() impl
  src/services/notifiers/line/utils.ts
Due: eslint --fix, prettier -w

Update entity Plan's default prayer field
  src/readingPlans/entities/plan.ts
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/inMemoryPlanRepository.spec.ts
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Streamline LINE message cross-device UX by favoring size keyword in layout
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Update scheduled LINE message styles (#15)
  src/readingPlans/entities/plan.ts
  src/services/notifiers/line/utils.ts
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/inMemoryPlanRepository.spec.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Add entity Recipient
  src/readingPlans/entities/recipient.ts
  src/readingPlans/index.ts
Due: eslint --fix, prettier -w

Add D1RecipientRepository
  migrations/0002_add_recipients.sql
  src/repositories/d1Recipient.ts
  test/helpers/d1.ts
  test/repositories/d1RecipientRepository.spec.ts
Due: eslint --fix, prettier -w
