Repository dannyh79/brp-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "*.{cjs,mjs,mts,ts}": "eslint --fix",
  "*.{cjs,json,md,mjs,mts,ts}": "prettier -w"
}

Add devotional.link prop to Plan entity (#36)
  src/readingPlans/entities/plan.ts
  src/readingPlans/getPlan.ts
  test/helpers/d1.ts
  test/readingPlans/entities/plan.spec.ts
  test/repositories/d1PlanRepository.spec.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
  test/services/notifiers/line/multiNotifier.spec.ts
  test/services/notifiers/line/utils.spec.ts
  test/worker/rest.spec.ts
  worker/d1/seed.sql
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

Add YouVersion link to scheduled LINE message
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Add YouVersion link to scheduled LINE message (#37)
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Bump wrangler to v4
  package.json
  pnpm-lock.yaml
Due: prettier -w

Bump deps to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier -w

Namespace readingPlans usecase specs
  test/readingPlans/usecases/destroyRecipient.spec.ts
  test/readingPlans/usecases/getPlan.spec.ts
  test/readingPlans/usecases/listRecipients.spec.ts
  test/readingPlans/usecases/saveRecipient.spec.ts
Due: eslint --fix, prettier -w

Add test GitHub workflow
  .github/workflows/test.yml
  README.md
Due: prettier -w

Add test coverage tool istanbul
  package.json
  pnpm-lock.yaml
  vitest.config.mts
Due: eslint --fix, prettier -w

Add missing runtime dep pnpm to .tool-versions
  .tool-versions
Due: none

Bump app version to v1
  package.json
Due: prettier -w

Bump deps
  package.json
  pnpm-lock.yaml
Due: prettier -w

Extract test.yml repeated PNPM setup steps as setup-pnpm-env action
  .github/actions/setup-pnpm-env/action.yml
  .github/workflows/test.yml
Due: none

Remove deprecated @cloudflare/workers-types
  package.json
  pnpm-lock.yaml
  test/tsconfig.json
  tsconfig.json
  worker-configuration.d.ts
Due: eslint --fix, prettier -w

Add column devotional_content to table plans
  migrations/0003_add_devotional_content_to_plans.sql
Due: none

Write field devotional_content to table plans if exists
  scripts/lib.mts
  test/scripts/lib.spec.ts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Retrieve record's devotional_content from D1PlanRepository if exists
  src/repositories/d1Plan.ts
Due: eslint --fix, prettier -w

Support optional devotional_content values from reading plan's data entries (#39)
  migrations/0003_add_devotional_content_to_plans.sql
  scripts/lib.mts
  src/repositories/d1Plan.ts
  test/scripts/lib.spec.ts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Parse TSX files in Cloudflare Workers
  tsconfig.json
Due: prettier -w

Support HTML in GET /api/v1/plan response format
  test/worker/__snapshots__/rest.spec.ts.snap
  test/worker/rest.spec.ts
  worker/rest/index.tsx
  worker/rest/v1/endpoints/getPlan.ts
Due: eslint --fix, prettier -w

Extract toDateString() helper function
  test/worker/lib.spec.ts
  worker/lib.ts
  worker/rest/index.tsx
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

Make GET /api/v1/plan date param optional
  test/env.d.ts
  test/worker/__snapshots__/rest.spec.ts.snap
  test/worker/rest.spec.ts
  vitest.config.mts
  worker-configuration.d.ts
  worker/rest/index.tsx
  worker/rest/middlewares/index.ts
  worker/rest/types.ts
  worker/rest/v1/endpoints/getPlan.ts
Due: eslint --fix, prettier -w

Extract HTML template to worker/rest/templates/
  worker/rest/index.tsx
  worker/rest/templates/index.tsx
Due: none

Update GET /api/v1/plan HTML template
  test/worker/__snapshots__/rest.spec.ts.snap
  worker/rest/index.tsx
  worker/rest/templates/index.tsx
Due: none

Extract toLocaleDateObject() to plan entity
  src/readingPlans/entities/plan.ts
  src/services/notifiers/line/utils.ts
  test/readingPlans/entities/plan.spec.ts
  worker/rest/templates/index.tsx
Due: eslint --fix, prettier -w

Update GET /api/v1/plan description in OpenAPI
  worker/rest/v1/endpoints/getPlan.ts
Due: eslint --fix, prettier -w

Use Intl.DateTimeFormat#format() to recognize timezone in toLocaleDateObject() impl
  src/readingPlans/entities/plan.ts
Due: eslint --fix, prettier -w

Support text/html response in GET /api/v1/plan (#41)
  src/readingPlans/entities/plan.ts
  src/services/notifiers/line/utils.ts
  test/env.d.ts
  test/readingPlans/entities/plan.spec.ts
  test/worker/__snapshots__/rest.spec.ts.snap
  test/worker/lib.spec.ts
  test/worker/rest.spec.ts
  tsconfig.json
  vitest.config.mts
  worker-configuration.d.ts
  worker/lib.ts
  worker/rest/index.tsx
  worker/rest/middlewares/index.ts
  worker/rest/templates/index.tsx
  worker/rest/types.ts
  worker/rest/v1/endpoints/getPlan.ts
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

Update Cloudflare Workers type defs with wrangler types command
  worker-configuration.d.ts
Due: eslint --fix, prettier -w

Remove for-test-only impl from GET /api/v1/plan
  test/worker/rest.spec.ts
  vitest.config.mts
  worker/rest/index.tsx
  worker/rest/middlewares/index.ts
  worker/rest/types.ts
  worker/rest/v1/endpoints/getPlan.ts
Due: eslint --fix, prettier -w

Move test arrangements into test cases
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/d1RecipientRepository.spec.ts
  test/scripts/lib.spec.ts
  test/worker/rest.spec.ts
  test/worker/scheduled/getPlanThenNotifyLine.spec.ts
Due: eslint --fix, prettier -w

Separate test actions from assertions
  test/readingPlans/entities/plan.spec.ts
  test/readingPlans/usecases/getPlan.spec.ts
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/d1RecipientRepository.spec.ts
  test/scripts/lib.spec.ts
  test/services/notifiers/line/utils.spec.ts
  test/worker/lib.spec.ts
Due: eslint --fix, prettier -w

Correct stub shape in multiNotifier.spec
  test/services/notifiers/line/multiNotifier.spec.ts
Due: eslint --fix, prettier -w

Make test names self-explanatory with context
  test/readingPlans/usecases/destroyRecipient.spec.ts
  test/readingPlans/usecases/getPlan.spec.ts
  test/readingPlans/usecases/saveRecipient.spec.ts
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/d1RecipientRepository.spec.ts
  test/scripts/lib.spec.ts
  test/worker/__snapshots__/rest.spec.ts.snap
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Infer vitest aliases from tsconfig aliases
  tsconfig.json
  vitest.config.mts
Due: eslint --fix, prettier -w

Update multiNotifier spec to reflect current impl
  test/services/notifiers/line/multiNotifier.spec.ts
Due: eslint --fix, prettier -w

Bump node version to v24
  .tool-versions
Due: none
