Repository dannyh79/brp-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "*.{cjs,mjs,mts,ts}": "eslint --fix",
  "*.{cjs,json,md,mjs,mts,ts}": "prettier -w"
}

Bump deps
  package.json
  pnpm-lock.yaml
  vitest.config.mts
Due: eslint --fix, prettier -w

Bump CF Workers compatibility date to 2025-05-05
  worker-configuration.d.ts
  wrangler.toml.example
Due: eslint --fix, prettier -w

Ignore wrangler.toml for other envs in version control
  .gitignore
Due: none

Support custom script injection in templating HTML
  .gitignore
  README.md
  test/worker/rest.spec.ts
  worker/rest/index.tsx
  worker/rest/templates/customScript.ts.example
  worker/rest/templates/index.tsx
Due: eslint --fix, prettier -w

Support custom script injection in templating HTML (#43)
  .gitignore
  README.md
  test/worker/rest.spec.ts
  worker/rest/index.tsx
  worker/rest/templates/customScript.ts.example
  worker/rest/templates/index.tsx
Due: eslint --fix, prettier -w

Bump node and pnpm versions
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: prettier -w

Bump node and pnpm versions (#44)
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: prettier -w

Bump upgradable deps
  package.json
  pnpm-lock.yaml
Due: prettier -w

Bump upgradable deps (#45)
  package.json
  pnpm-lock.yaml
Due: prettier -w

Bump upgradable deps to safe versions
  package.json
  pnpm-lock.yaml
Due: prettier -w

Update cloudflare workers nodejs compat date to 2025-11-17
  vitest.config.mts
  wrangler.toml.example
Due: eslint --fix, prettier -w

Bump upgradable deps (#46)
  package.json
  pnpm-lock.yaml
  vitest.config.mts
  wrangler.toml.example
Due: eslint --fix, prettier -w

feat: Return plans with scope and link in arrays of strings in plan repo
  src/repositories/d1Plan.ts
  test/repositories/d1PlanRepository.spec.ts
Due: eslint --fix, prettier -w

feat: Make plan devotional.scope & devotional.link arrays of strings
  src/readingPlans/entities/plan.ts
  test/readingPlans/entities/plan.spec.ts
Due: eslint --fix, prettier -w

feat: Make getPlan devotional.scope & devotional.link arrays of strings
  src/readingPlans/getPlan.ts
  test/helpers/d1.ts
Due: eslint --fix, prettier -w

feat: Adapt to plan entity structure changes in worker layer
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/multiNotifier.spec.ts
  test/services/notifiers/line/utils.spec.ts
  test/worker/rest.spec.ts
  worker/rest/templates/index.tsx
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

test: Add array of 2 devotional scopes case to PlanSchema tests
  test/readingPlans/entities/plan.spec.ts
Due: eslint --fix, prettier -w

feat: Support multi-chapter scope to link parsing
  src/readingPlans/entities/plan.ts
  test/readingPlans/entities/plan.spec.ts
Due: eslint --fix, prettier -w

feat: Support 2026 BRP data format (#47)
  src/readingPlans/entities/plan.ts
  src/readingPlans/getPlan.ts
  src/repositories/d1Plan.ts
  src/services/notifiers/line/utils.ts
  test/helpers/d1.ts
  test/readingPlans/entities/plan.spec.ts
  test/repositories/d1PlanRepository.spec.ts
  test/services/notifiers/line/multiNotifier.spec.ts
  test/services/notifiers/line/utils.spec.ts
  test/worker/rest.spec.ts
  worker/rest/templates/index.tsx
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

chore: Revert @cloudflare/vitest-pool-workers to 0.8.49 for test watch mode
  package.json
  pnpm-lock.yaml
  vitest.config.mts
  wrangler.toml.example
Due: eslint --fix, prettier -w

chore: Revert @cloudflare/vitest-pool-workers to 0.8.49 for test watch mode (#48)
  package.json
  pnpm-lock.yaml
  vitest.config.mts
  wrangler.toml.example
Due: eslint --fix, prettier -w

feat: Support range args in script writeToD1FromGoogleSheets
  scripts/lib.mts
  scripts/writeToD1FromGoogleSheets.mts
  test/scripts/lib.spec.ts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

feat: Support range args in script writeToD1FromGoogleSheets (#49)
  scripts/lib.mts
  scripts/writeToD1FromGoogleSheets.mts
  test/scripts/lib.spec.ts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

refactor: Decouple REST endpoint getPlan from usecase getPlan
  test/worker/rest.spec.ts
  worker/rest/index.tsx
  worker/rest/templates/index.tsx
  worker/rest/v1/endpoints/getPlan.ts
Due: eslint --fix, prettier -w

test: Correct path in REST endpoint test suite
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

refactor: Decouple usecase getPlan output from repo layer
  src/readingPlans/getPlan.ts
  src/services/notifiers/line/multiNotifier.ts
  src/services/notifiers/line/utils.ts
Due: eslint --fix, prettier -w

refactor: Decouple usecase listRecipients output from repo layer
  src/readingPlans/listRecipients.ts
Due: eslint --fix, prettier -w

refactor: Decouple interfaces between software layers (#50)
  src/readingPlans/getPlan.ts
  src/readingPlans/listRecipients.ts
  src/services/notifiers/line/multiNotifier.ts
  src/services/notifiers/line/utils.ts
  test/worker/rest.spec.ts
  worker/rest/index.tsx
  worker/rest/templates/index.tsx
  worker/rest/v1/endpoints/getPlan.ts
Due: eslint --fix, prettier -w

feat: Remove ownership declaration from HTML template
  test/worker/__snapshots__/rest.spec.ts.snap
  worker/rest/templates/index.tsx
Due: none

chore: Add AGENTS.md
  AGENTS.md
Due: prettier -w

feat: update repentence prelude content
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
  test/worker/__snapshots__/rest.spec.ts.snap
  worker/rest/templates/index.tsx
Due: eslint --fix, prettier -w

fix: handle empty devotional content and improve sync script
  scripts/lib.mts
  src/repositories/d1Plan.ts
  test/worker/__snapshots__/rest.spec.ts.snap
Due: eslint --fix, prettier -w

feat: add hardcoded Holy Week video links to PlanPage
  worker/rest/templates/index.tsx
Due: none

feat: add hardcoded Holy Week video links to LINE Flex Messages
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
  test/services/notifiers/line/utils.spec.ts
Due: eslint --fix, prettier -w

feat: add hardcoded 2026-04-03 Holy Week video link to PlanPage / LINE message
  src/services/notifiers/line/utils.ts
  worker/rest/templates/index.tsx
Due: eslint --fix, prettier -w

fix(deps): remediate pnpm audit findings
  package.json
  pnpm-lock.yaml
  scripts/lib.mts
  scripts/writeToD1FromGoogleSheets.mts
  test/env.d.ts
  test/scripts/lib.spec.ts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
  test/setups/applyMigrations.ts
  test/tsconfig.json
  test/worker/__snapshots__/rest.spec.ts.snap
  test/worker/rest.spec.ts
  vitest.config.mts
Due: eslint --fix, prettier -w

fix(deps): remediate pnpm audit findings (#51)
  package.json
  pnpm-lock.yaml
  scripts/lib.mts
  scripts/writeToD1FromGoogleSheets.mts
  test/env.d.ts
  test/scripts/lib.spec.ts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
  test/setups/applyMigrations.ts
  test/tsconfig.json
  test/worker/__snapshots__/rest.spec.ts.snap
  test/worker/rest.spec.ts
  vitest.config.mts
Due: eslint --fix, prettier -w

docs: add task planning template
  .gitignore
  docs/tasks/TEMPLATE.md
Due: prettier -w

docs: add task planning template (#52)
  .gitignore
  docs/tasks/TEMPLATE.md
Due: prettier -w

feat: add church prayer content
  migrations/0004_add_plan_introduction_and_church_prayer.sql
  migrations/0005_add_october_church_prayer.sql
  scripts/lib.mts
  src/readingPlans/entities/plan.ts
  src/readingPlans/getPlan.ts
  src/repositories/d1Plan.ts
  src/services/notifiers/line/utils.ts
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/octoberChurchPrayerMigration.spec.ts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
  test/services/notifiers/line/utils.spec.ts
  test/worker/rest.spec.ts
  worker/rest/templates/index.tsx
  worker/rest/v1/endpoints/getPlan.ts
Due: eslint --fix, prettier -w
