Repository dannyh79/brp-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

Add save() method to Repository interface
  src/repositories/d1Plan.ts
  src/repositories/d1Recipient.ts
  src/repositories/inMemoryPlan.ts
  src/types.ts
Due: eslint --fix, prettier -w

Implement d1RecipientRepository.save()
  src/repositories/d1Recipient.ts
  test/repositories/d1RecipientRepository.spec.ts
Due: eslint --fix, prettier -w

Add entity Recipient and D1RecipientRepository (#26)
  migrations/0002_add_recipients.sql
  src/readingPlans/entities/recipient.ts
  src/readingPlans/index.ts
  src/repositories/d1Plan.ts
  src/repositories/d1Recipient.ts
  src/repositories/inMemoryPlan.ts
  src/types.ts
  test/helpers/d1.ts
  test/repositories/d1RecipientRepository.spec.ts
Due: eslint --fix, prettier -w

Add request method GET to /api/v1/plan test cases
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Add endpoint POST /api/v1/recipients
  test/worker/rest.spec.ts
  worker/rest/index.ts
  worker/rest/v1/endpoints/index.ts
  worker/rest/v1/endpoints/saveRecipient.ts
Due: eslint --fix, prettier -w

Scope beforeEach hook for GET /api/v1/plan tests in itself
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Amend missing StubRepository.save() in getPlan tests
  test/usecases/getPlan.spec.ts
Due: eslint --fix, prettier -w

Implement POST /api/v1/recipients
  src/readingPlans/entities/recipient.ts
  src/readingPlans/index.ts
  src/readingPlans/saveRecipient.ts
  test/usecases/saveRecipient.spec.ts
  worker/rest/index.ts
  worker/rest/middlewares/index.ts
  worker/rest/types.ts
Due: eslint --fix, prettier -w

Implement usecase saveRecipient
  src/readingPlans/saveRecipient.ts
  test/usecases/saveRecipient.spec.ts
Due: eslint --fix, prettier -w

Add endpoint POST /api/v1/recipients (#27)
  src/readingPlans/entities/recipient.ts
  src/readingPlans/index.ts
  src/readingPlans/saveRecipient.ts
  test/usecases/getPlan.spec.ts
  test/usecases/saveRecipient.spec.ts
  test/worker/rest.spec.ts
  worker/rest/index.ts
  worker/rest/middlewares/index.ts
  worker/rest/types.ts
  worker/rest/v1/endpoints/index.ts
  worker/rest/v1/endpoints/saveRecipient.ts
Due: eslint --fix, prettier -w

Add method all() to interface Repository
  src/repositories/d1Plan.ts
  src/repositories/d1Recipient.ts
  src/repositories/inMemoryPlan.ts
  src/types.ts
  test/usecases/getPlan.spec.ts
  test/usecases/saveRecipient.spec.ts
Due: eslint --fix, prettier -w

Implement D1RecipientRepository.all()
  src/repositories/d1Recipient.ts
  test/repositories/d1RecipientRepository.spec.ts
Due: eslint --fix, prettier -w

Notify recipients from D1 DB in scheduled/getPlanThenNotifyLine
  test/worker/scheduled/getPlanThenNotifyLine.spec.ts
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

Remove unused env vars
  secrets.json.example
  worker-configuration.d.ts
  wrangler.toml
Due: eslint --fix, prettier -w

Populate recipient record in seed.sql
  worker/d1/seed.sql
Due: none

Update README
  README.md
Due: prettier -w

Run scheduled LINE notifier to recipients from D1 DB (#28)
  README.md
  secrets.json.example
  src/repositories/d1Plan.ts
  src/repositories/d1Recipient.ts
  src/repositories/inMemoryPlan.ts
  src/types.ts
  test/repositories/d1RecipientRepository.spec.ts
  test/usecases/getPlan.spec.ts
  test/usecases/saveRecipient.spec.ts
  test/worker/scheduled/getPlanThenNotifyLine.spec.ts
  worker-configuration.d.ts
  worker/d1/seed.sql
  worker/scheduled/getPlanThenNotifyLine.ts
  wrangler.toml
Due: eslint --fix, prettier -w

Move wrangler.toml out of version control
  .gitignore
  README.md
  wrangler.toml
  wrangler.toml.example
Due: prettier -w

Add .dev.vars secrets example
  .dev.vars.example
Due: none

Make env LINE_ADMIN_RECEIPIENT_ID & LINE_CHANNEL_ACCESS_TOKEN into secrets
  wrangler.toml.example
Due: none

Update Deploying section
  README.md
Due: prettier -w

Update Development section
  README.md
Due: prettier -w

Amend POST /api/v1/recipients OpenAPI doc typo
  worker/rest/v1/endpoints/saveRecipient.ts
Due: eslint --fix, prettier -w

Update README (#31)
  .dev.vars.example
  .gitignore
  README.md
  worker/rest/v1/endpoints/saveRecipient.ts
  wrangler.toml
  wrangler.toml.example
Due: eslint --fix, prettier -w

Add endpoint DELETE /api/v1/recipients/:id
  test/worker/rest.spec.ts
  worker/rest/index.ts
  worker/rest/v1/endpoints/destroyRecipient.ts
  worker/rest/v1/endpoints/index.ts
Due: eslint --fix, prettier -w

Add method Destroy() to interface Repository
  src/repositories/d1Plan.ts
  src/repositories/d1Recipient.ts
  src/repositories/inMemoryPlan.ts
  src/types.ts
  test/usecases/getPlan.spec.ts
  test/usecases/saveRecipient.spec.ts
Due: eslint --fix, prettier -w

Implement D1RecipientRepository.destroy()
  src/repositories/d1Recipient.ts
  src/repositories/errors.ts
  test/repositories/d1RecipientRepository.spec.ts
Due: eslint --fix, prettier -w

Unify test name casing in d1RecipientRepository.spec.ts
  test/repositories/d1RecipientRepository.spec.ts
Due: eslint --fix, prettier -w

Implement DELETE /api/v1/recipients/:id
  src/readingPlans/destroyRecipient.ts
  src/readingPlans/index.ts
  worker/rest/index.ts
  worker/rest/middlewares/index.ts
  worker/rest/types.ts
Due: eslint --fix, prettier -w

Implement usecase destroyRecipient
  src/readingPlans/destroyRecipient.ts
  test/usecases/destroyRecipient.spec.ts
Due: eslint --fix, prettier -w

Match actual usage in usecase tests
  test/usecases/getPlan.spec.ts
  test/usecases/saveRecipient.spec.ts
Due: eslint --fix, prettier -w

Limit DELETE recipients SQL query to match 1 record only
  src/repositories/d1Recipient.ts
Due: eslint --fix, prettier -w

Add endpoint DELETE /api/v1/recipients/:id (#32)
  src/readingPlans/destroyRecipient.ts
  src/readingPlans/index.ts
  src/repositories/d1Plan.ts
  src/repositories/d1Recipient.ts
  src/repositories/errors.ts
  src/repositories/inMemoryPlan.ts
  src/types.ts
  test/repositories/d1RecipientRepository.spec.ts
  test/usecases/destroyRecipient.spec.ts
  test/usecases/getPlan.spec.ts
  test/usecases/saveRecipient.spec.ts
  test/worker/rest.spec.ts
  worker/rest/index.ts
  worker/rest/middlewares/index.ts
  worker/rest/types.ts
  worker/rest/v1/endpoints/destroyRecipient.ts
  worker/rest/v1/endpoints/index.ts
Due: eslint --fix, prettier -w

Add secret API_TOKEN
  .dev.vars.example
  secrets.json.example
  worker-configuration.d.ts
  worker/rest/types.ts
Due: eslint --fix, prettier -w

Authorize /api/v1/recipients routes
  test/worker/rest.spec.ts
  worker/rest/index.ts
  worker/rest/middlewares/index.ts
  worker/rest/v1/endpoints/destroyRecipient.ts
  worker/rest/v1/endpoints/saveRecipient.ts
Due: eslint --fix, prettier -w

Move auth definition to middlewares
  worker/rest/index.ts
  worker/rest/middlewares/index.ts
Due: eslint --fix, prettier -w

Authorize /api/v1/recipients routes (#33)
  .dev.vars.example
  secrets.json.example
  test/worker/rest.spec.ts
  worker-configuration.d.ts
  worker/rest/index.ts
  worker/rest/middlewares/index.ts
  worker/rest/types.ts
  worker/rest/v1/endpoints/destroyRecipient.ts
  worker/rest/v1/endpoints/saveRecipient.ts
Due: eslint --fix, prettier -w

Fix typos in project
  .dev.vars.example
  README.md
  secrets.json.example
  src/repositories/d1Recipient.ts
  test/repositories/d1RecipientRepository.spec.ts
  test/worker/scheduled/getPlanThenNotifyLine.spec.ts
  worker-configuration.d.ts
  worker/rest/index.ts
  worker/rest/v1/endpoints/destroyRecipient.ts
  worker/rest/v1/endpoints/saveRecipient.ts
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

Fix .dev.var.example format
  .dev.vars.example
Due: none

Move date text to the top of message body section (#16)
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{cjs,mjs,ts}
  prettier -w: any of: *.{cjs,json,md,mjs,ts}
