Repository dannyh79/brp-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

Make title font heavy (#17)
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Highlight devotional scope text with heavier and larger font
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Remove bottom separator in each text section (#20)
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Lower header box to shrink overall message height
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Remove linebreak between content and scope in praise section (#18)
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Center items vertically in each section
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Unify colors by The Hope guidebook
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Emphasize section titles with top left placement and bold font
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Use italic font to mark scriptures
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Add line spacing to text content
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Remove double quotes in personal prayer per The Hope guidebook
  src/readingPlans/entities/plan.ts
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/inMemoryPlanRepository.spec.ts
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Update scheduled LINE message layout (#34)
  src/readingPlans/entities/plan.ts
  src/services/notifiers/line/utils.ts
  test/repositories/d1PlanRepository.spec.ts
  test/repositories/inMemoryPlanRepository.spec.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Remove InMemoryPlanRepository
  src/repositories/inMemoryPlan.ts
  test/repositories/inMemoryPlanRepository.spec.ts
Due: eslint --fix, prettier -w

Update Plan's default values
  src/readingPlans/entities/plan.ts
  src/readingPlans/getPlan.ts
  test/repositories/d1PlanRepository.spec.ts
  test/worker/rest.spec.ts
Due: eslint --fix, prettier -w

Update LINE bubble message layout per design
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Polish the updated LINE bubble message layout
  src/services/notifiers/line/utils.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
Due: eslint --fix, prettier -w

Bump cloudflare deps
  package.json
  pnpm-lock.yaml
Due: prettier -w

Bump dev deps
  package.json
  pnpm-lock.yaml
Due: prettier -w

Add dev dep @types/node for node type definitions
  package.json
  pnpm-lock.yaml
Due: prettier -w

Break tests into workspace by function
  vitest.config.mts
Due: none

Bump @cloudflare/vitest-pool-workers to 0.7.1
  package.json
  pnpm-lock.yaml
Due: prettier -w

Include mts files in lint-staged targets
  .lintstagedrc.json
Due: prettier -w

Use vanilla vitest to test against scripts
  vitest.config.mts
Due: none

Include scripts/ in tsconfig
  scripts/writeToD1FromGoogleSheets.mts
  tsconfig.json
Due: prettier -w

Add path alias @root
  tsconfig.json
  vitest.config.mts
Due: prettier -w

Make script writeToD1FromGoogleSheets testable
  scripts/lib.mts
  scripts/writeToD1FromGoogleSheets.mts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
  tsconfig.json
Due: eslint --fix, prettier -w

Move env check and help message to script writeToD1FromGoogleSheets
  scripts/lib.mts
  scripts/writeToD1FromGoogleSheets.mts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Wrap google API as an class in writeToD1FromGoogleSheets
  scripts/lib.mts
  scripts/writeToD1FromGoogleSheets.mts
  test/scripts/lib.spec.ts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Test against writeToD1FromGoogleSheets()
  scripts/lib.mts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Support no arg usecase calls
  src/types.ts
Due: eslint --fix, prettier -w

Add usecase listRecipients
  src/readingPlans/index.ts
  src/readingPlans/listRecipients.ts
  test/usecases/listRecipients.spec.ts
Due: eslint --fix, prettier -w

Move recipients assign to Notifier.pushMessage()
  src/services/notifiers/line/multiNotifier.ts
  src/services/notifiers/line/types.ts
  src/services/notifiers/types.ts
  test/services/notifiers/line/multiNotifier.spec.ts
  test/worker/scheduled/getPlanThenNotifyLine.spec.ts
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

Reduce getPlanThenNotifyLine hidden deps by injecting domain contexts
  src/services/notifiers/types.ts
  test/worker/scheduled/getPlanThenNotifyLine.spec.ts
  worker/index.ts
  worker/scheduled/getPlanThenNotifyLine.ts
  worker/scheduled/index.ts
  worker/scheduled/types.ts
Due: eslint --fix, prettier -w

Remove unused LineSingleNotifier
  src/services/notifiers/line/index.ts
  src/services/notifiers/line/singleNotifier.ts
  test/services/notifiers/line/singleNotifier.spec.ts
Due: eslint --fix, prettier -w

Move scripts/lib.mts exports up top
  scripts/lib.mts
Due: none

Document data sheet schema
  README.md
  scripts/lib.mts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Document data sheet schema (#35)
  README.md
  scripts/lib.mts
  test/scripts/writeToD1FromGoogleSheets.spec.ts
Due: eslint --fix, prettier -w

Bump deps to latest version
  package.json
  pnpm-lock.yaml
Due: prettier -w

Update plan example based on source format change
  src/readingPlans/getPlan.ts
  test/helpers/d1.ts
  test/repositories/d1PlanRepository.spec.ts
  test/services/notifiers/line/__snapshots__/utils.spec.ts.snap
  test/services/notifiers/line/multiNotifier.spec.ts
  test/services/notifiers/line/utils.spec.ts
  test/worker/rest.spec.ts
  worker/d1/seed.sql
Due: eslint --fix, prettier -w

Add devotional link to entity Plan
  src/readingPlans/entities/plan.ts
  src/readingPlans/getPlan.ts
  test/readingPlans/entities/plan.spec.ts
  test/services/notifiers/line/utils.spec.ts
  worker/scheduled/getPlanThenNotifyLine.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{cjs,mjs,ts}
  prettier -w: any of: *.{cjs,json,md,mjs,ts}
